<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/new" method="POST">
      <h2>New Message</h2>
      <label for="user">Your name: </label>
      <input type="text" name="user" />
      <label for="text">Your message: </label>
      <input type="text" name="text" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
