<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h2>Messages</h2>
      <div>
        <% messages.map((message)=>{%>
            <ul>
            <li><%= message.text%></li>
            <li><%=message.user%></li>
            <li><%=message.added%></li>
            </ul>
        <% }) %>
        </div>
    </main>
  </body>
</html>
